/* Base Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
.colors header {
    background-color: #aed8e5;
    height: 610px;
}

.colors .box__container {
    background-color: #04008b;
    height: 520px;
}

.colors .box-uno {
    background-color: #ee82ed;
    height: 415px;
    width: 945px;
    border: 2px dashed black;
}

.logo,
.menu__items {
    background-color: #d9a520;
    border: 2px dashed;
}

.colors .box__section:nth-child(2) {
    background-color: #d3d3d3;
}

.colors .box__section:nth-child(2) .small__main {
    order: -1;
}

.colors .box-due:first-child,
.colors .box-due:last-child {
    background-color: #fff;
}

.colors .big__main {
    background-color: #1f90ff;
    border: 2px dashed black;
}

.colors .small__main {
    background-color: #ffc0ca;
    border: 2px dashed black;
}

.colors .box-tre {
    background-color: #d3d3d3;
}

.colors .box {
    background-color: #228b22;
    height: 930px;
    border: 2px dashed black;
}

/* Header */
.menu__container {
    display: flex;
    max-width: 1250px;
    justify-content: center;
    margin: 0 auto 20px;
}

#cta {
    all: unset;
    background-color: #d9a520;
    border: 2px dashed black;
    cursor: pointer;
    text-align: end;
    padding: 10px 20px;
}

.logo,
#cta {
    flex-grow: 1;
}

.menu__items {
    flex-grow: 3;
    text-align: center;
}

.container {
    padding: 20px 0 0;
}

.menu__items,
.logo {
    padding: 10px 20px;
}

.box__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Main */
.box__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.box-due {
    display: flex;
    width: 1250px;
    align-items: flex-start;
}

.big__main {
    height: 520px;
    flex-grow: 1;
}

.small__main {
    height: 520px;
    width: 500px;
}

.box-tre {
    display: flex;
    padding: 45px 0;
    align-items: center;
    justify-content: center;
}

.box {
    width: 1245px;
}