/* Base Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors */
.colors header {
    background-color: #aed8e5;
    height: 610px;
}

.colors .box__container {
    background-color: #04008b;
    height: 520px;
}

.colors .box-uno {
    background-color: #ee82ed;
    height: 415px;
    width: 945px;
    border: 2px dashed black;
}

.logo,
.menu__items {
    background-color: #d9a520;
    border: 2px dashed;
}

.colors .box__section:nth-child(2) {
    background-color: #d3d3d3;
}

.colors .box__section:nth-child(2) .small__main {
    order: -1;
}

.colors .box-due:first-child,
.colors .box-due:last-child {
    background-color: #fff;
}

.colors .big__main {
    background-color: #1f90ff;
    border: 2px dashed black;
}

.colors .small__main {
    background-color: #ffc0ca;
    border: 2px dashed black;
}

.colors .box-tre {
    background-color: #d3d3d3;
}

.colors .box {
    background-color: #228b22;
    height: 930px;
    border: 2px dashed black;
}

.colors .footer__container {
    background: #23272a;
}

.colors .box-quattro {
    height: 600px;
}

.colors .footer__container div.footer__box {
    background-color: #21b2aa;
}

.colors .footer__container .box-quattro .footer__box:first-child {
    background-color: #f08080;
    width: 959px;
    border: 2px dashed black;
}

.colors .box-quattro .footer__box:nth-child(2),
.colors .box-quattro .footer__box:nth-child(3),
.colors .box-quattro .footer__box:nth-child(4),
.colors .box-quattro .footer__box:nth-child(5) {
    border: 2px dashed white;
}

.colors .foot-footer {
    background-color: #7effd4;
}

.colors .foot-footer div.logo__footer,
.colors .foot-footer div.button__footer {
    background-color: #ffb6c1;
    border: 2px dashed black;
}

/* Header */
.menu__container {
    display: flex;
    max-width: 1250px;
    justify-content: center;
    margin: 0 auto 20px;
}

#cta {
    all: unset;
    background-color: #d9a520;
    border: 2px dashed black;
    cursor: pointer;
    text-align: end;
    padding: 10px 20px;
}

.logo,
#cta {
    flex-grow: 1;
}

.menu__items {
    flex-grow: 3;
    text-align: center;
}

.container {
    padding: 20px 0 0;
}

.menu__items,
.logo {
    padding: 10px 20px;
}

.box__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Main */
.box__section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.box-due {
    display: flex;
    width: 1250px;
    align-items: flex-start;
}

.big__main {
    height: 520px;
    flex-grow: 1;
}

.small__main {
    height: 520px;
    width: 500px;
}

.box-tre {
    display: flex;
    padding: 45px 0;
    align-items: center;
    justify-content: center;
}

.box {
    width: 1245px;
}

/* Footer */
.box-quattro {
    display: flex;
    width: 1240px;
    padding: 10px 0 40px;
    margin: 0 auto;
    justify-content: center;
}

.box-quattro:first-child {
    flex-grow: 1;
}

.box-quattro .footer__box:nth-child(2),
.box-quattro .footer__box:nth-child(3),
.box-quattro .footer__box:nth-child(4),
.box-quattro .footer__box:nth-child(5) {
    width: 215px;
}

.foot-footer {
    width: 1250px;
    margin: 30px auto 0;
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.foot-footer div.logo__footer,
.foot-footer div.button__footer {
    padding: 10px 15px;
}